<div class="col-md-10">
	<div class="panel panel-default">
		<div class="panel-heading">
			Pedido #1, Cooperativa - (Marcio Antunes)
		</div>
		<div class="panel-body">
			<dl class="dl-horizontal">
				<dt>REF</dt>
				<dd>010</dd>

				<dt>Descrição</dt>
				<dd>Botina de Couro</dd>

				<dt>Solado</dt>
				<dd>Latex</dd>

				<dt>Númeração</dt>
				<dd>35 - 43</dd>

			</dl>
			<a ng-click="setSection('calcados')" class="btn btn-default">Voltar</a>
			<a ng-click="setSection('novoCalcado')" class="btn btn-default">Editar</a>
			<a ng-click="setSection('calcados')" class="btn btn-danger">Excluir</a>
		</div>
	</div>
</div>
