<div class="col-md-10">
	<div class="panel panel-default">
		<div class="panel-heading">
			Cliente #1, Cooperativa - (Marcio Antunes)
		</div>
		<div class="panel-body">
			<dl class="dl-horizontal">
				<dt>Cliente</dt>
				<dd>Cooperativa de Itaúna</dd>

				<dt>Endereço</dt>
				<dd>Rua Evaristo Norato, 328 - Itaúna MG</dd>

				<dt>Vendedor</dt>
				<dd>João José</dd>
			</dl>
			<a ng-click="setSection('clientes')" class="btn btn-default">Voltar</a>
			<a ng-click="setSection('novoCliente')" class="btn btn-default">Editar</a>
			<a ng-click="setSection('clientes')" class="btn btn-danger">Excluir</a>
		</div>
	</div>
</div>
