<div class="col-md-10">
	<div class="panel panel-default">
		<div class="panel-heading">
			Configurações
		</div>
		<div class="panel-body">
			<form class="form-horizontal">
				
				<div class="form-group">
					<label for="" class="control-label col-md-2">Item</label>
					<div class="col-md-3">
						<select class="form-control" ng-model="item"
								ng-options="item.name for item in itens">
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="" class="control-label col-md-2"></label>
					<div class="col-md-8">
						<table class="table">
							<thead>
								<tr>
									<th class="col-md-1"></th>
									<th>Ref</th>
									<th>Qtd</th>
									<th>Num</th>
									<th>Cor</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<span class="glyphicon glyphicon-remove"></span>
									</td>
									<td>010</td>
									<td>10</td>
									<td>41</td>
									<td>Preto</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- TextArea -->
				<!-- <div class="form-group">
					<label for="" class="control-label col-md-2">Descrição</label>
					<div class="col-md-2">
						<textarea class="form-control" rows="3"></textarea>
					</div>
				</div> -->
				
				<!-- Input -->
				<!-- <div class="form-group">
					<label for="" class="control-label col-md-2">Nome</label>
					<div class="col-md-2">
						<input type="text" class="form-control">
					</div>
				</div> -->
				<div class="form-group">
					<label for="" class="control-label col-md-2"></label>
					<div class="col-md-8">
						<a ng-click="setSection('pedidos')" class="btn btn-success">Cadastrar Pedido</a>
						<a ng-click="setSection('pedidos')" class="btn btn-danger">Cancelar</a>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>