<div class="col-md-10">
	<div class="panel panel-default">
		<div class="panel-heading">
			Novo Calçado
		</div>
		<div class="panel-body">
			<form class="form-horizontal">

				<div class="form-group">
					<label for="" class="control-label col-md-2">Referência</label>
					<div class="col-md-4">
						<input type="text" class="form-control">
					</div>
				</div>

				<div class="form-group">
					<label for="" class="control-label col-md-2">Descrição</label>
					<div class="col-md-4">
						<textarea class="form-control" rows="3"></textarea>
					</div>
				</div>

				<div class="form-group">
					<label for="" class="control-label col-md-2">Solado</label>
					<div class="col-md-4">
						<select class="form-control" ng-model="solado" 
								ng-options="solado.name for solado in solados">
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="" class="control-label col-md-2">Fechamento</label>
					<div class="col-md-4">
						<select class="form-control"ng-model="fechamento" 
								ng-options="fechamento.name for fechamento in fechamentos">
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="" class="control-label col-md-2">Palmilha</label>
					<div class="col-md-4">
						<select class="form-control"ng-model="palmilha" 
								ng-options="palmilha.name for palmilha in palmilhas">
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="" class="control-label col-md-2">Tipo</label>
					<div class="col-md-4">
						<select class="form-control"ng-model="tipo" 
								ng-options="tipo.name for tipo in tipos">
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="" class="control-label col-md-2"></label>
					<div class="col-md-8">
						<a ng-click="setSection('calcados')" class="btn btn-success">Cadastrar Calçado</a>
						<a ng-click="setSection('calcados')" class="btn btn-danger">Cancelar</a>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>