<div class="col-md-10">
	<div class="panel panel-default">
		<div class="panel-heading">
			Pedido #1, Cooperativa - (Marcio Antunes)
		</div>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>QTD</th>
						<th>REF</th>
						<th>NUM</th>
						<th>$UND</th>
						<th>$TOTAL</th>
					</tr>
				</thead>
				<tbody>
						<tr>
							<td>10</td>
							<td>010</td>
							<td>41</td>
							<td>10,00</td>
							<td>40,00</td>
						</tr>
						<tr>
							<td>10</td>
							<td>010</td>
							<td>41</td>
							<td>10,00</td>
							<td>40,00</td>
						</tr>
				</tbody>
				<tfoot>
					<tr>
						<th>20</th>
						<th></th>
						<th></th>
						<th></th>
						<th>100,00</th>
					</tr>
				</tfoot>
			</table>
			<a ng-click="setSection('pedidos')" class="btn btn-default">Voltar</a>
			<a ng-click="setSection('novoPedido')" class="btn btn-default">Editar</a>
			<a ng-click="setSection('pedidos')" class="btn btn-danger">Excluir</a>
		</div>
	</div>
</div>
