<div class="col-md-10">
	<div class="panel panel-default">
		<div class="panel-heading">
			Lista Vendedores
		</div>
		<div class="panel-body">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Vendedor</th>
					</tr>
				</thead>
				<tbody>
						<tr ng-click="setSection('cliente')">
							<td>1</td>
							<td>Marcio Augusto</td>
						</tr>
						<tr ng-click="setSection('cliente')">
							<td>2</td>
							<td>Marcio Augusto</td>
						</tr>
				</tbody>
			</table>
			<a ng-click="setSection('novoVendedor')" class="btn btn-default">Novo Vendedor</a>
		</div>
	</div>
</div>