<div class="col-md-10">
	<div class="panel panel-default">
		<div class="panel-heading">
			Vendedor #1, Marcio Antunes
		</div>
		<div class="panel-body">
			<dl class="dl-horizontal">
				<dt>Vendedor</dt>
				<dd>Marcio Rodrigues</dd>

				<dt>Endereço</dt>
				<dd>Rua Evaristo Norato, 328 - Itaúna MG</dd>
			</dl>
			<a ng-click="setSection('vendedores')" class="btn btn-default">Voltar</a>
			<a ng-click="setSection('novoVendedor')" class="btn btn-default">Editar</a>
			<a ng-click="setSection('vendedores')" class="btn btn-danger">Excluir</a>
		</div>
	</div>
</div>
